Django
psycopg2
djangorestframework
python-dotenv
djangorestframework_jwt
django-cors-headers
django-filter
statsmodels
scipy
paypalrestsdk
python-dateutil
#Heroku requirements
django-heroku
gunicorn
